<h1 class="text-center m-5">Products</h1>
<div class="mb-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      {{#each products}}
        <div class="col mb-5">
          <div class="card h-100">
            <a href="productdetail?id={{this.id}}">
              <div
                class="badge bg-dark text-white position-absolute"
                style="top:0.5rem; right:0.5rem"
              >
                -{{this.discount}}%
              </div>
              <img
                height="200"
                class="card-img-top"
                src="{{this.img}}"
                alt="{{this.name}}"
              />
            </a>
            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="fw-bolder">{{this.name}}</h5>
                <div
                  class="d-flex justify-content-center small text-warning mb-2"
                  style="list-style: none;"
                >
                  <li class="">⭐</li>
                  <li class="">⭐</li>
                  <li class="">⭐</li>
                  <li class="">⭐</li>
                  <li class="">⭐</li>
                </div>
                <span class="text-muted">
                  <span
                    class="text-danger mr-2"
                    style="font-size: 14px; text-decoration: line-through"
                    ;
                  >
                    {{this.pricecut}}
                  </span>
                </span>
                {{this.price}}
              </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto">
                  Add to cart
                </a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>